.privacy-policy-container {
    animation: fadeIn 1s ease-in-out;
    padding: 3rem;
    margin: 2rem 4rem;
    font-family: "Roboto";
}
.privacy-policy-container h1{
    font-size: 2rem;
    text-align: center;
    color: blue;
}

.section {
    animation: slideInUp 1s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    
}

.section h2{
    
    font-weight: bold;
    color: black;
    margin-top: 1rem;
}
.section p{
    color: rgb(16, 92, 95);
    font-size: 15px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}